<div class="jumbotron">
    <h1>Welcome to the school database!</h1>
    <p class="lead">Please access teacher, student, and classes lists below :)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher List</h2>
        <p>If you would like to access the teacher list and check out each teacher's info, please click the button below</p>
        <p><a class="btn btn-default" href="~/Teacher/List">Click me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student List</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="~/Student/List">Click me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class List</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Class/List">Click me &raquo;</a></p>
    </div>
</div>
