<div class="jumbotron">
    <h1>Welcome to the school database!</h1>
    <p class="lead">Please access teacher, student, and classes lists below :)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher List</h2>
        <p>If you would like to access the teacher list and check out each teacher's info, please click the button below.</p>
        <p><a class="btn btn-default" href="~/Teacher/List">Click me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student List</h2>
        <p>If you would like to access the student list and check out each student's info, please click the button below.</p>
        <p><a class="btn btn-default" href="~/Student/List">Click me &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class List</h2>
        <p>If you would like to access the class list and check out each class' info, please click the button below.</p>
        <p><a class="btn btn-default" href="~/Class/List">Click me &raquo;</a></p>
    </div>
</div>
