@model n01443564AssignmentCumulativePart1.Models.Student 
@{
    ViewBag.Title = "Show";
}

<div class="main-content">
    <h2>Student's information</h2>
    <div style="font-weight:bold;">@Model.StudentFname @Model.StudentLname</div>
    <div>Student Number:@Model.StudentNumber</div>
    <div>Student enroll date: @Model.EnrolDate.ToString("dd-MMM-yyyy")</div>
</div>