@model n01443564AssignmentCumulativePart1.Models.Student 
@{
    ViewBag.Title = "Show";
}

<h2>Student's information</h2>
@Model.StudentFname,@Model.StudentLname
<div>Student Number:@Model.StudentNumber</div>
<div>Student enroll date: @Model.EnrolDate</div>
