#banner {
    margin: 2em 0;
    box-shadow: 3px 5px 3px 3px rgba(0,0,0,0.5);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #FAFAFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background: #ECEBE4;
    width: 100%;
    box-shadow: 3px 5px 3px 3px rgba(0,0,0,0.5);
}

.row {
    background: #ECEBE4;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:5px;
    box-shadow: 3px 5px 3px 3px rgba(0,0,0,0.5);
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navlink {
    text-align: right;
    margin-top: 30px;
    float: right;
    width: 50%;
    color:black;
}

.navbar-header{
    color:black;
}

#containerlist, #containershow {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.listitem {
    margin: 10px 0;
}

.navbar {
    background: #EEF0F2;
}

.main-content{
    margin:2em 0 17em 27em;
    line-height:2em;
}
