@model IEnumerable<n01443564AssignmentCumulativePart1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of teachers</h2>
<form action="/Teacher/List"method="GET">
    <input type="text" name="Searchkey" />
    <input type="submit" value="Search" />
</form>
<span style="font-style:italic;">@Model.Count() Result(s)</span>

@foreach (var teacher in Model){
    
    <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
}
