@model n01443564AssignmentCumulativePart1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="main-content">
    <h2>Teacher's information</h2>
    <div style="font-weight:bold;">@Model.TeacherFname @Model.TeacherLname</div>
    <div>Employee Number:@Model.EmployeeNumber</div>
    <div style="text-transform: uppercase;">Course @Model.ClassCode: @Model.ClassName</div>
    <div>HireDate:@Model.HireDate.ToString("dd-MMM-yyyy")</div>
    <div>Salary:$@Model.Salary</div>
</div>