@model n01443564AssignmentCumulativePart1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Teacher's information</h2>

@Model.TeacherFname @Model.TeacherLname
<div>Employee Number:@Model.EmployeeNumber</div>
<div>HireDate:@Model.HireDate</div>
<div>Salary:$@Model.Salary</div>
<div>Course: @Model.ClassCode @Model.ClassName</div>